<main class="profile">
  <div class="box-limit row">
   <section class=" profile-info col-md-6">
     <img src="/src/app/Components/dashboard/photos/net.cocooncreations.digitaltree.png" alt="personal photo" class="img-thumbnail">
     <div class="info-box" >
       <h5 class="user-name"> Mahmoud Ahmed  <span style="color: silver">#Sir4GO</span> </h5>
       <p class="bio"> Software engineering</p>
       <p class="location">Cairo</p>
     </div>
   </section>
   <section class="profile-tool col-md-6">
           <button class="profile-btn">Edit Profile</button>
           <button class="setting-btn">Edit Settings</button>
   </section>
 </div>
</main>



