
.hr-dash
{
  background-color: #EEEEEE;
  min-height: 800px;
}
/*nav*/
.dashboard-nav
{
  height: 45px;
  background-color: #F7F7F7;
  border-bottom: 1px solid silver;
  display: flex;
}
.option-list
{
  list-style: none;
  margin: auto;

}
.option-list li
{
  display: inline;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;


}
.option-list li a
{
  text-decoration: none;
  color: #476565;
}



/* hr dashboardLayout*/
.page-body
{

}
